node_modules/
client/dist/
*.db
*.db-journal
*.db-shm
*.db-wal
.env
.env.local
.DS_Store

# Screenshots written by the browser suites when no output dir is passed
tests/browser/undefined/
undefined/
*.png
!cheatsheets/*.png
